#  /etc/rsyslog.conf	Configuration file for rsyslog.
#
#			For more information see
#			/usr/share/doc/rsyslog-doc/html/rsyslog_conf.html


#################
#### MODULES ####
#################

# provides TCP syslog reception
#
##TEMPLATE

#Template used to send logs to central server
template(name="KYPOTraining" type="string" string="console.logging KYPO_BASH_ACTION_AUDIT --- %rawmsg%")

#Loads modules, new and old format 
module(load="imrelp")

#Enables input from client devices over RELP
input(type="imrelp" port="514" Ruleset="remote")

#Template and ruleset for local log saving
$template RemoteHost,"/var/log/KYPO/%HOSTNAME%/%$YEAR%/%$MONTH%/%$DAY%/kypolog.log"
$RuleSet remote
*.* ?RemoteHost

#Forwards logs to the central server over TCP
action(type="omfwd" 
       Target="{{ clc_syslog_target_host }}" 
       Port="{{ clc_syslog_target_port }}" 
       Template="KYPOTraining" 
       Protocol="tcp")